@model IEnumerable<RagilHadiworoApp.Models.Agunan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgunanID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.AccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.IDCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgunanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.AccountNo)
            </td>   
            <td>
                @Html.DisplayFor(modelItem => item.Customer.IDCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AgunanID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AgunanID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AgunanID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
