@model IEnumerable<RagilHadiworoApp.Models.Funding>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDFunding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.AccountNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDFunding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.AccountNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.IDCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDFunding">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDFunding">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDFunding">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
